<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Đặt lịch khám bệnh</title>
  </head>
  <body>
    Hello world with Thai Duong from view
    <p><%=data %></p>
  </body>
</html>
